
  <%= content_tag :li, id: "task-#{task.id}" do %>
    <div id="icon">
      <%= link_to task, method: :delete, remote: true do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
    <div id="task-desc"><span id="text"><%= task.description %></span></div>
    <div id="time-remaining"><%= task.days_left %> days left</div>
  <% end %>
