<div class="list-header">
	<h3 class="media-heading caps">Your Weekly Priorities</h3>
</div>

<div class="cf gray-box">
	<div class="js-tasks">
		<%= render @tasks %>
	</div>

	<%= render 'form', task: Task.new %>

 </div>
