<div class="list-header">
	<h3 class="media-heading caps">Your Weekly Priorities</h3>
</div>

<div class="cf gray-box">
	<div>
		<ul class="js-tasks tasks sortable">
			<%= render @tasks %>
		</ul>
	</div>

	<%= render 'form', task: Task.new %>

 </div>
