<div class="list-header">
	<h3 class="media-heading caps">Weekly Priorities</h3>
</div>

<div class="cf gray-box">
  <ul class="tasks">
		<li><i class="fa fa-trash"></i>Spend more time on Bloc</li>
    <li><i class="fa fa-trash"></i>Finish making this app</li>
    <li><i class="fa fa-trash"></i>Get better at Ruby on Rails</li>
    <li><i class="fa fa-trash"></i>Play guitar</li>
		<li><i class="fa fa-trash"></i>Get more sleep</li>
  </ul>

  <form class="to-do-form" action="#">
    <div class="form-group">
    	<input type="text" class="task-input form-control" name="name" id="name" placeholder="Add a task" autofocus/>
    	<button class="btn btn-add hvr-icon-grow btn-primary" type="submit">Add</button>
    </div>
  </form>
</div>
