/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,700,800,300italic,400italic,600italic,700italic,800italic);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 12em !important;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8)),
    image-url('subtle_dots_two.png');
}

.wrapper {
  position:relative;
  min-height:100% !important;
}


.navbar-nav {
  margin-bottom:0px !important;
}


.top-bar {
  min-width:777px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 10px;
  border-radius:0px;
  background-color: #71D690 !important;
  color:white;
  font-weight:400;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  a {
    color:#132117;
  }
  a:hover {
    color:#060A07
  }
}


.main-logo {
  position:relative;
  padding-top:10px;
   background: image-url('todo-logo-b.png');
   background-size: auto;
   height:100px !important;
   width:496px !important;
}

.nav-right {
  padding-top: 15px;
  padding-bottom: 15px !important;
  li {
    padding-left:5px;
    display:inline-block;
    list-style: none;
  }
}

.brand {
  text-align:center;
  i {
    position:relative;
    font-size: 3.5em;
  }
  i:hover {
    color:rgba(26, 26, 26, 1);
  }
}

.logo {
  vertical-align: middle !important;
  padding-top:10px !important;
  padding-left:25px !important;
}


.page-content {
  position:relative;
  padding-top:15px;
  padding-bottom:3.5em;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

#logged-in {
  margin-left:0px !important;
  color:black;
  position:relative;
  text-align:right;
  li {
    display: list-item;
  }
}

#not-logged-in {
  margin-left:0px !important;
  margin-bottom:0px !important;
  color:black;
  position:relative;
  text-align:right;
  li {
    display: inline-block;
  }
}

#acct-options {
  margin-top:5px;
  li {
    display:inline-block;
    float:left;
  }
}

#strong-title a {
  color:white !important;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: none;
}

#strong-title a:hover {
  color:black !important;
}

.caps {
  font-weight: 800;
  text-transform: uppercase;
}

.link-caps, .link-caps:hover {
  color:black;
  font-weight: 600;
  text-transform: uppercase;
}


#spaced {
  font-weight:200;
  letter-spacing: 3.5px;
}

.btn {
  border: 0 none;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none !important;
}

.btn:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-primary {
  background-color: #71D690 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #2C3629 !important;
 }

.btn-primary:active, .btn-primary.active {
  background-color: #2C3629 !important;
  box-shadow: none;
 }

.btn-default {
  background-color: #e6e6e6;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color: #2C3629 !important;
  color:white;
 }

.btn-default:active, .btn-default.active {
  background-color: #2C3629 !important;
  color:white;
  box-shadow: none;
 }

#devise-links {
  margin-top:5px;
}

.row {
    display: table;
    width:100%;
}

[class*="col-"] {
    display: table-cell;
    float:none;
    vertical-align: bottom;
}

.media {
  display: table-cell;
  vertical-align: bottom;
}

.form-boot {
  margin-left:auto;
  margin-right:auto;
  width:450px;
}

.shadow {
  text-shadow: 2px   2px  3px   rgba(0,0,0,0.2);
}

input, textarea, select, a {
  outline: none;
}

.list-header {
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height:3em;
  line-height:1em;
  width:100% !important;
  padding: 1em;
  background-color: rgba(26,26,26,.9);
  text-align: center;
}

#footer-text {
	font-size:.9em;
	float:right;
  padding-right:20px;
	color:white;
	font-weight:250;
}

#social {
	font-size:1.2em;
	margin-left:1em;
}

.social {
	color:#71D690;
	transition:.2s all;
	cursor:pointer;
}

.social:hover {
	color:#137A4D;
}

.gray-box {
  width: 500px;
  margin-top:1.5em;
  margin-left:auto;
  margin-right:auto;
  background: rgba(238,238,238,0.8);
  border-radius: 4px;
  padding: 2em;
  padding-top:2.4em;
}

#link-home {
  position:absolute;
  top:25px;
  left:35px;
  width:55px;
  height:58px;
}
