// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task-input {
  float: left;
  margin-right: 15px;
  border: none !important;
  width: 75% !important;
}

.task-input:focus {
  outline: none;
}

.tasks {
  list-style-type: none;
  padding-left:5px !important;
}

.tasks li {
  font-size:16px;
  font-weight: 400;
  color: #333;
  padding-bottom:1em;
}

.tasks li i {
  padding-top:3px;
}

.to-do-form {
  position:relative;
  margin-bottom:0px;
}

.form-group {
  vertical-align: center;
}

.marked {
  color: #999;
  text-decoration: line-through;
}

.fa-trash {
  display: inline-block;
  font-size:2.5em;
  color: black;
  cursor: pointer;
  margin-right:1em;
  transition:all .2s ease-in-out;
}

.fa-trash:hover {
  color: #892E2D;
}

.btn-add {
  width:85px;
}

#time-remaining {
  float:right;
  font-size:.8em;
  font-weight:bold;
  padding-right:20px;
}


#label {
  padding-left:10px;
}

.tasks > li > a {
  text-decoration: none;
}
