.list-header {
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

.tasks {
  list-style-type: none;
  padding-left:5px !important;
}

.tasks li {
  font-size:16px;
  font-weight: 400;
  color: #333;
  padding-bottom:1em;
}

.tasks li i {
  padding-top:3px;
}

.to-do-form {
  position:relative;
  margin-bottom:0px;
}

.form-group {
  vertical-align: center;
}

.btn-add {
  width:85px;
}
